In [4]:
import pandas as pd
Sales=pd.read_excel('Sales.xlsx')
Sales['Month of Delivery']=Sales['Order Date'].apply(lambda x:x.strftime('%B'))
Sales['Year of Delivery']=Sales['Order Date'].apply(lambda x:x.strftime('%Y'))
Sales

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Month of Delivery,Year of Delivery
0,366000,1,2016-01-01,Pending,265598,10,1304,1,CAD,January,2016
1,366001,1,2016-01-01,2016-01-13 00:00:00,1269051,0,1048,2,USD,January,2016
2,366001,2,2016-01-01,2016-01-13 00:00:00,1269051,0,2007,1,USD,January,2016
3,366002,1,2016-01-01,2016-01-12 00:00:00,266019,0,1106,7,CAD,January,2016
4,366002,2,2016-01-01,2016-01-12 00:00:00,266019,0,373,1,CAD,January,2016
...,...,...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2021-02-20,Pending,1216913,43,632,3,USD,February,2021
62880,2243031,1,2021-02-20,2021-02-24 00:00:00,511229,0,98,4,EUR,February,2021
62881,2243032,1,2021-02-20,2021-02-23 00:00:00,331277,0,1613,2,CAD,February,2021
62882,2243032,2,2021-02-20,2021-02-23 00:00:00,331277,0,1717,2,CAD,February,2021
62883,2243032,3,2021-02-20,2021-02-23 00:00:00,331277,0,464,7,CAD,February,2021

In [6]:
Sales.to_excel('Sales Analysed Initially.xlsx',index=False)